## Imports

In [1]:
import pandas as pd

## Leitura das bases da camada silver

In [9]:
df_insights = pd.read_parquet('C:/Users/candi/OneDrive/Documentos/GitHub/case_enjoei/datasets/gold/dataset_gold.parquet')

## Informações solicitadas pelo négocio

In [ ]:
# Agrupamento por usuário e categoria + soma das quantidades de produtos por categoria
category_totals = df_insights.groupby(['user_id', 'category'])['quantity'].sum().reset_index()

# Encontrando a categoria mais adicionada pelousuário no carrinho
most_category = category_totals.loc[category_totals.groupby('user_id')['quantity'].idxmax()]

In [ ]:
# Última data de adição ao carrinho por usuário
last_date_add = df_insights.groupby('user_id')['date'].max().reset_index()

# Merge para incorporar a última data ao dataframe
most_category = most_category.merge(last_date_add, on='user_id')

In [12]:
# Fazendo o merge para incorporar a coluna 'name' ao DataFrame
merge = most_category.merge(df_insights[['user_id', 'full_name']], on='user_id')

# Reorganizando as colunas para que 'full_name' venha após 'user_id'
insight = merge[['user_id', 'full_name', 'date', 'category', 'quantity']]

insight = insight.drop_duplicates()
insight

    user_id        full_name        date          category  quantity
0         1         john doe  2020-03-02    men's clothing        25
6         2   david morrison  2020-03-01    men's clothing         2
8         3       kevin ryan  2020-03-01    men's clothing         4
11        4        don romer  2020-03-01       electronics         5
13        8  william hopkins  2020-03-01  women's clothing         1

In [ ]:
insight.to_csv('C:/Users/candi/OneDrive/Documentos/GitHub/case_enjoei/datasets/gold/dataset_.csv', index=False)

## Insights adicionais

top comprador, top categoria geral, comprador com mais itens no carrinho